/* task.css */
.task-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.detail {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

.file-list {
    list-style: none;
    padding: 0;
}

.file-list li {
    margin-bottom: 5px;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.edit-button,
.delete-button,
.back-button {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.edit-button:hover {
    background-color: #3e8e41; /* Темнее зеленый */
}

.delete-button:hover {
    background-color: #f44336; /* Красный */
}

.back-button:hover {
    background-color: #3e8e41; /* Темнее зеленый */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

p {
    font-size: 18px;
}
