<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/home.css" th:href="@{/home.css}" />
</head>
<body>
<header>
    <div class="logo">Система регистрации обращений</div>
    <a th:href="@{/logout-success}" class="logout-button">Выйти</a>
</header>

<main>
    <h1>Добро пожаловать на главную страницу!</h1>
    <h1>Вы успешно выполнили вход в систему</h1>
    <p>Здесь будет основное содержимое страницы.</p>

    <a th:href="@{/create-task}" class="create-task-button">Создать обращение</a>

</main>

<footer>
    <p>&copy; 2024 ООО Имя компания</p>
</footer>
</body>
</html>


