<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<th:block th:replace="fragments/header.html"></th:block>

<div class="wrapper">
    <th:block th:replace="fragments/menu.html"></th:block>



















    <!-- Это шаблон для создания новых страниц -->

    <!-- тут вставлять новый код новой страницы -->

    <!-- конец блока, ставьте код новой страницы -->
























</div>

<th:block th:replace="fragments/footer.html"></th:block>
</body>
</html>
